<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="JoystickCurves.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  

    <userSettings>
        <JoystickCurves.Properties.Settings>
            <setting name="TesterVirtualJoystick" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterPhysicalJoystick" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterVirtualJoystickX" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterVirtualJoystickY" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterVirtualJoystickRZ" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterPhysicalJoystickX" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterPhysicalJoystickY" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterPhysicalJoystickRZ" serializeAs="String">
                <value />
            </setting>
            <setting name="generalMinimizeOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="generalAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="generalStartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalSteamEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="steamLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="steamPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="saitekX52ProEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="steamToken" serializeAs="String">
                <value />
            </setting>
            <setting name="warThunderTrackAircraft" serializeAs="String">
                <value>False</value>
            </setting>
        </JoystickCurves.Properties.Settings>
    </userSettings>
</configuration>