<?xml version="1.0"?>
<configuration>
  <configSections>
    
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="JoystickCurves.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  

    <userSettings>
        <JoystickCurves.Properties.Settings>
            <setting name="TesterVirtualJoystick" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterPhysicalJoystick" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterVirtualJoystickX" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterVirtualJoystickY" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterVirtualJoystickRZ" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterPhysicalJoystickX" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterPhysicalJoystickY" serializeAs="String">
                <value />
            </setting>
            <setting name="TesterPhysicalJoystickRZ" serializeAs="String">
                <value />
            </setting>
            <setting name="generalMinimizeOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="generalAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="generalStartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalSteamEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="steamLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="steamPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="saitekX52ProEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="steamToken" serializeAs="String">
                <value />
            </setting>
            <setting name="warThunderTrackAircraft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exclusiveDirectInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableJoystickServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="joystickServerPort" serializeAs="String">
                <value>54545</value>
            </setting>
            <setting name="globalSaveOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="globalAskSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mouseSensX" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="mouseSensY" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="mouseSensScroll" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="generalMaxVjoyNum" serializeAs="String">
                <value>0</value>
            </setting>
        </JoystickCurves.Properties.Settings>
    </userSettings>
</configuration>
